[Unit]
Description=Deepin anything server service
After=udisks2.service

[Service]
User=root
Group=root
ExecStart=/usr/libexec/deepin-anything-server
ExecStartPre=modprobe vfs_monitor
ExecStopPost=rmmod vfs_monitor
Restart=always
RestartSec=30
ProtectProc=invisible
SupplementaryGroups=
CapabilityBoundingSet=CAP_SYS_MODULE
AmbientCapabilities=CAP_SYS_MODULE
NoNewPrivileges=true
OOMScoreAdjust=-500
Nice=-5
ProtectSystem=full
# need to check the actual mount info
# ProtectHome=true
InaccessiblePaths=-/etc/shadow
InaccessiblePaths=-/etc/pam.d/
InaccessiblePaths=-/etc/NetworkManager/system-connections/
InaccessiblePaths=-/etc/security/
InaccessiblePaths=-/etc/selinux/
InaccessiblePaths=-/etc/deepin-elf-verify/
InaccessiblePaths=-/etc/filearmor.d/
InaccessiblePaths=-/etc/crypttab
InaccessiblePaths=-/etc/fstab
InaccessiblePaths=-/sysroot/ostree/repo/
InaccessiblePaths=-/persistent/ostree/repo/
ExecPaths=
PrivateTmp=true
PrivateDevices=true
PrivateIPC=true
ProtectClock=true
ProtectKernelTunables=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
