[Unit]
Description=Deepin anything logger service

[Service]
User=root
Group=root
ExecStart=/usr/libexec/deepin-anything-logger
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
