[Unit]
Description=Deepin anything logger service

[Service]
User=root
Group=root
ExecStart=/usr/libexec/deepin-anything-logger
Restart=on-failure
RestartSec=30
ProtectProc=invisible
SupplementaryGroups=
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=true
OOMScoreAdjust=-500
Nice=-5
ProtectSystem=full
ProtectHome=true
InaccessiblePaths=-/etc/shadow
InaccessiblePaths=-/etc/pam.d/
InaccessiblePaths=-/etc/NetworkManager/system-connections/
InaccessiblePaths=-/etc/security/
InaccessiblePaths=-/etc/selinux/
InaccessiblePaths=-/etc/deepin-elf-verify/
InaccessiblePaths=-/etc/filearmor.d/
InaccessiblePaths=-/etc/crypttab
InaccessiblePaths=-/etc/fstab
InaccessiblePaths=-/sysroot/ostree/repo/
InaccessiblePaths=-/persistent/ostree/repo/
ExecPaths=
PrivateTmp=true
PrivateDevices=true
PrivateIPC=true
ProtectClock=true
# need to write files in /sys/kernel/vfs_monitor dir
# ProtectKernelTunables=true
ProtectKernelModules=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
