[Unit]
Description=Deepin anything service
After=deepin-anything-tool.service

[Service]
User=root
Group=deepin-anything-server
ExecStart=/usr/bin/deepin-anything-monitor
ExecStartPre=modprobe vfs_monitor
ExecStopPost=rmmod vfs_monitor
Environment=DAS_DEBUG_PLUGINS=1
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
