[Unit]
Description=Deepin anything daemon service
After=udisks2.service

[Service]
ExecStart=/usr/libexec/deepin-anything-daemon
Restart=on-failure
RestartSec=30
MemoryHigh=2G
MemoryMax=3G

[Install]
WantedBy=default.target
