Package: deepin-anything
Version: 6.1.9
Architecture: amd64
Maintainer: Deepin Package Builder <packages@deepin.com>
Installed-Size: 8
Depends: deepin-anything-dkms
Section: admin
Priority: optional
Homepage: http://github.com/linuxdeepin/deepin-anything
Description: Deepin Anything server package
 This is the server part of Deepin Anything, which includes core functionality for the application.
