Source: deepin-anything-monitor
Section: admin
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 deepin-anything-dev,
 debhelper (>= 9),
 cmake,
 pkg-config,
 qtdeclarative5-dev,
 libdtkdeclarative-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-anything-monitor
Architecture: x86_64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple description
 A detailed description.

