[Unit]
Description=Deepin anything tool service
After=dbus.service udisks2.service
Before=deepin-anything-monitor.service

[Service]
Type=dbus
User=root
Group=root
BusName=com.deepin.anything
ExecStart=/usr/bin/deepin-anything-tool --dbus
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
